---
layout: default
title: Modded
description: John Smith Technician's Remix is a variation of the original John Smith texture pack which is designed for use with modded Minecraft. Support packs such as Feed the Beast, Tekkit, ATLauncher and others. Downloads and modpack patches are available here.
---

<h1>John Smith Technician's Remix</h1>
<hr>

<p>John Smith Technician's Remix is a variation of the original John Smith texture pack which is designed for use with modded Minecraft, such as the FTB modpacks, Tekkit and Tekkit Lite. These textures are created by community members on github. Check it all out <a href="https://github.com/John-Smith-Modded/">here</a>. We are always looking for more people to help make the massive amount of modded textures in the minecraft game. Make sure you check out John Smith Legacy on the <a href="http://forum.feed-the-beast.com/threads/32x-johnsmith-technicians-remix.741/">Feed the Beast</a> forums. Enjoy the textures!</p>

<br /><br />

<div style="text-align:center">
  <img style="height:50px;" src="/assets/img/downloads_header_1.png" alt="Universal Pack Downloads" />
</div>
<div class="mod_table">
  <table>
    <tr>
      <th>Pack Name</th>
      <th>Pack Version</th>
      <th>Minecraft Version</th>
      <th>Download Link</th>
    </tr>
    {% for file in site.data.jstr_downloads.universal %}
      <tr>
        <td>{{ file.name }}</td>
        <td>{{ file.version_pack }}</td>
        <td>{{ file.version_mc }}</td>
        <td><a href="{{ file.link }}">Download</a></td>
      </tr>
    {% endfor %}
  </table>
</div>

<br />
<br />

<div style="text-align:center">
  <img style="height:50px;" src="/assets/img/downloads_header_6.png" alt="Patch Pack Downloads" />
</div>

<p>John Smith Technician's Remix support has grown past supporting individual mods, but now includes support for variations on textures. The packs below can be applied <strong>overtop</strong> the main downloads above. When applied over top these packs change key features of the pack and transforms what the environment looks like. The John Smith Legacy patch reverse modded ores, sand, stone and dirt match the Legacy version of the pack. Each patch is created by multiple community members and if anybody is interested in helping out check out our github <a href="https://github.com/John-Smith-Modded/">here</a>. We are always looking for new people to help create new content.</p>

<div class="mod_table">
  <table>
    <tr>
      <th>Pack Name</th>
      <th>Pack Version</th>
      <th>Minecraft Version</th>
      <th>Download Link</th>
    </tr>
    {% for file in site.data.jstr_downloads.patch %}
      <tr>
        <td>{{ file.name }}</td>
        <td>{{ file.version_pack }}</td>
        <td>{{ file.version_mc }}</td>
        <td><a href="{{ file.link }}">Download</a></td>
      </tr>
    {% endfor %}
  </table>
</div>