<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Johnsmith Legacy | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="-LxVF_Bh7o4cf40LTeisjrDfoALdGLv8-2defc_KJ1g" />
  <meta name="keywords" content="johnsmith, texturepack, resourcepack, download, john smith, legacy, install, john, smith, texture pack, resource pack, jslegacy.com, js-legacy.net,  johnsmith, modded, vanilla, minecraft, John Smith Legacy Texture Pack, John Smith Legacy Resource Pack, mods, textures, blog">
  <meta name="description" content="{{ page.description }}">
  <link rel="shortcut icon" href="/favicon.ico"/>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/font.css">
  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/assets/css/vendor/syntax.css">
  <link rel="stylesheet" href="/assets/css/vendor/colors.css">
  <link rel="stylesheet" href="/assets/css/vendor/normalize.css">
  <!-- Vender JS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//john-smith-modded.github.io/assets/js/vendor/instantclick.js"></script>
  <!-- Custom JS -->
  <script src="//john-smith-modded.github.io/assets/js/main.js"></script>

</head>
<!-- Main Container -->
<div class="container">
  <!-- Header Image -->
  <div class="header-picture">
    <a href="/">
      <img src="/assets/img/webbanner_js_1.jpg" alt="John Smith Legacy" />
    </a>
  </div>
  <!-- Nav Bar -->
  <div class="header-content">
    <ul class="nav">
      <li><a href="/"><strong>Home</strong></a></li>
      <li><a href="/blog/"><strong>Blog</strong></a></li>
      <li><a href="/jstr-vanilla/"><strong>Vanilla</strong></a></li>
      <li><a href="/jstr-modded/"><strong>Modded</strong></a></li>
    </ul>
  </div>
  <!-- Main content -->
  <div class="main-content">
    {{ content }}
  </div>
  <!-- Footer -->
  <div class="footer-content">
    <!-- Table to center things -->
    <table style="width: 100%">
      <tr>
        <!--Left text -->
        <td style="padding:12px;">
          &copy; John Smith Team &amp; John Smith Technician's Remix Team, 2009-2015
        </td>
        <!-- Right text -->
        <!--
        <td style="text-align:right;padding:10px 10px 2px 10px;">
          <a href="http://billing.creeperhost.net/aff.php?aff=1214">
            <img src="/assets/img/logo_creeperhost.png" alt="Creeper Host" />
          </a>
        </td>
        -->
      </tr>
    </table>
  </div>
</div>

</body>
</html>
